body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  margin-bottom: 4px;
  font-size: 18px;
}

/* .header__menu {
} */

.header_links-list {
  display: flex;
}

.header__links-list-item {
  list-style: circle;
  margin-left: 32px;
}

.header__links-list-item:last-child {
  margin-left: 35px;
}

.header__links-list-item_no-bullet {
  list-style: none;
  margin-left: 0;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border: none;
}

.header__logo {
  display: block;
  min-width: 136px;
  font-size: 0;
}

/* .header__logo-image {
} */

.address {
  font-style: normal;
  line-height: 1.35;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.header__address a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

/* .main {
} */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  padding: 50px;
  margin-bottom: 180px;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000000;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 20px;
  padding-top: 115px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  color: #ffffff;
}

/* .aligned-text {
} */

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 106px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  color: #ffffff;
  word-spacing: 18px;
  align-self: center;
  padding-top: 4px;
}

.cover__description-text span:first-child {
  word-spacing: 20px;
}

.cover__description-text span:last-child {
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  padding: 0;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.lots {
  padding: 0 24px;
}

.lots__heading {
  padding-left: 40px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #ffffff;
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-left: 40px;
  font-size: 20px;
}
